@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

/* Estilos para pantallas de hasta 952px */
@media (max-width: 855px) {
    .enlace {
        padding-left: 10px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

/* Estilos para pantallas de hasta 858px */
@media (max-width: 958px) {
    .check {
        display: block;
    }


/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    list-style: none;
}

.footer {
    float: left;
}

body {
    background-color: #a56969;
    color: #000 !important;
}

.Biblioteca {
    justify-content: center;
    align-items