
%todo{
/* Estilos generales */

    box-sizing: border-box;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    list-style: none;
    
}

%body {
	background-color: $portada;
    color: $colordetexto;
        a{
            color: $a;
            &:hover{
                color: $colorSecundario;
            }
        }
}

%jumbotron {
    margin-top: 20px; /* Agrega espacio arriba del jumbotron */
    margin-bottom: 20px; /* Agrega espacio abajo del jumbotron */
}

%formularios {
    margin-bottom: 30px;
}

%footer{
    padding: 20px;
    border-top: 1px solid #212529;
}

